/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@layer base {
    @font-face {
        font-family: "Colon Serif";
        font-weight: 300;
        font-style: normal;
        src: url("./fonts/colonserif/ColonSerif-Light.woff") format('woff');
    }
    @font-face {
        font-family: "Colon Serif";
        font-weight: 300;
        font-style: italic;
        src: url("./fonts/colonserif/ColonSerif-LightItalic.woff") format('woff');
    }
}

body {
    font-family: "Open Sans";
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
:root {
    --swiper-theme-color: #737373 !important;
}